json('./StylusVars.json')
.ck-button
  display inline-flex
  > button
    width 100%
    font-family inherit
    cursor pointer
    padding globalPadding (2*globalPadding)
    font-size globalFontSize
    border-radius globalBorderRadius
    background-color white
    border 1px solid primary
    color primary
    display inline-block
    min-height globalMinHeight
    > .ck-button--icon-left
      padding-right .5rem
    > .ck-button--icon-right
      padding-left .5rem
  // margin-bottom: 0;
  // font-weight: normal;
  // text-align: center;
  // -ms-touch-action: manipulation;
  // touch-action: manipulation;
  // white-space: nowrap;
  // padding: 6px 12px;
  // font-size: 18px;
  // line-height: 1.42857143;

// .btn-cta:active:hover,
// .btn-cta:focus,
// .btn-cta:hover {
//   background-color: #1b1b32;
//   border-width: 3px;
//   border-color: #000;
//   background-image: none;
//   color: #f5f6f7;
// }
@require './globalStyle'