margin-x(margin)
  margin-right margin
  margin-left margin
margin-y(margin)
  margin-top margin
  margin-bottom margin
padding-x(padding)
  padding-right padding
  padding-left padding
padding-y(padding)
  padding-top padding
  padding-bottom padding
border-x(width, type, color)
  border-left width type color
  border-right width type color
border-y(width, type, color)
  border-top width type color
  border-bottom width type color
border-radius-left(radius)
  border-top-left-radius radius
  border-bottom-left-radius radius
border-radius-right(radius)
  border-top-right-radius radius
  border-bottom-right-radius radius
border-radius-top(radius)
  border-top-left-radius radius
  border-top-right-radius radius
border-radius-bottom(radius)
  border-bottom-left-radius radius
  border-bottom-right-radius radius
width-height(val)
  width val
  height val
min-max-width(val)
  min-width val
  max-width val
min-max-height(val)
  min-height val
  max-height val
margin-padding(val)
  margin val
  padding val
margin-padding-left(val)
  margin-left val
  padding-left val
margin-padding-right(val)
  margin-right val
  padding-right val
margin-padding-top(val)
  margin-top val
  padding-top val
margin-padding-bottom(val)
  margin-bottom val
  padding-bottom val

my-box-shadow(val = 0.05, color = black)
  box-shadow 0 4px 20px 0 rgba(color, val)
// flex shortcuts
justify-align-center()
  align-items center
  justify-content center
flex-all-center()
  display flex
  justify-align-center()
inline-flex-all-center()
  display inline-flex
  justify-align-center()

//
//
//
//
//
// rs components
// rs-components-basic-input(heightDiference = 2px)
//   width 100%
//   border rsComponentsBorder
//   border-radius rsComponentsBorderRadius
//   min-height rsComponentsHeight + heightDiference
//   background-color white
//   &:focus-within
//     border-color $color-primary
//     my-box-shadow()