// $color-primary = #15b0ce
$color-primary = #000
$color-secondary = #999999
$color-success = #95CD41
$color-warning = #FFBD35
$color-danger = #FF5959
$color-dark = #1E1E1E
$color-light = #F0F0F0
$color-unset = #626262
$color-disabled = #757575
$color-disabled-secondary = #e0e0e0
$color-lightgrey = #ccc

$globalMinHeight = 40px
$globalMinHeight2 = 32px
$globalFontSize = 16px
$globalFontSize-s = 14px
$globalBorderRadius = 4px
$globalPadding = 8px
$globalBorderColor = #DAE1E7

$nothing = ''