$color-unset = #626262
$color-disabled = #757575
$color-disabled-secondary = #e0e0e0
$color-lightgrey = #ccc

$globalMinHeight = 40px
$globalMinHeight2 = 32px
$globalFontSize = 16px
$globalFontSize-s = 14px
$globalBorderRadius = 4px
$globalPadding = 8px
$globalBorderColor = #DAE1E7

$nothing = ''


// css
// --primary = #000
// --secondary = #999999
:root {
  --primary #6867AC
  --secondary #A267AC
  --success #95CD41
  --warning #FFBD35
  --danger #FF5959
  --dark #1E1E1E
  --light #F0F0F0
}