@require './.variables'
@require '../../public/cleek-styles/cleek-mixins'

// "var(--primary)": "#8687DA",
// "var(--secondary)": "#4E4D86",


// group
.ck-component__group--left
  border-radius-right(0 !important)
  border-right 0 !important
.ck-component__group--right
  border-radius-left(0 !important)
.ck-component__group--center
  border-radius 0 !important
  border-right 0 !important

// group vertical
.ck-component__group-vertical--top
  border-bottom 0 !important
  border-radius-bottom(0 !important)
.ck-component__group-vertical--bottom
  border-radius-top(0 !important)
.ck-component__group-vertical--center
  border-radius 0 !important
  border-bottom 0 !important


// color
.ck-component__color--primary
  color var(--primary) !important
// .ck-component__color--primary-light
// color rgba(var(--primary), .15) !important FIXRGBA
.ck-component__color--secondary
  color var(--secondary) !important
// .ck-component__color--secondary-light
// color rgba(var(--secondary), .15) !important  FIXRGBA
.ck-component__color--success
  color var(--success) !important
.ck-component__color--danger
  color var(--danger) !important
.ck-component__color--warning
  color var(--warning) !important
.ck-component__color--dark
  color var(--dark) !important
.ck-component__color--light
  color var(--light) !important
.ck-component__color--unset
  color $color-unset !important
.ck-component__color--lightgrey
  color $color-lightgrey !important

// bg color
.ck-component__bg-color--primary
  background-color var(--primary) !important
  border-color var(--primary) !important
  color white !important
.ck-component__bg-color--primary-light
  // background-color rgba(var(--primary), .15) !important  FIXRGBA
  // border-color rgba(var(--primary), .15) !important  FIXRGBA
  color var(--primary) !important
  font-weight 600 !important
.ck-component__bg-color--secondary
  background-color var(--secondary) !important
  border-color var(--secondary) !important
  color white !important
.ck-component__bg-color--secondary-light
  // background-color rgba(var(--secondary), .15) !important  FIXRGBA
  // border-color rgba(var(--secondary), .15) !important  FIXRGBA
  color var(--secondary) !important
  font-weight 600 !important
.ck-component__bg-color--success
  background-color var(--success) !important
  border-color var(--success) !important
  color rgba(white, 0.9) !important
.ck-component__bg-color--danger
  background-color var(--danger) !important
  border-color var(--danger) !important
  color rgba(white, 0.9) !important
.ck-component__bg-color--warning
  background-color var(--warning) !important
  border-color var(--warning) !important
  color rgba(white, 0.9) !important
.ck-component__bg-color--dark
  background-color var(--dark) !important
  border-color var(--dark) !important
  color rgba(white, 0.9) !important
.ck-component__bg-color--light
  background-color var(--light) !important
  border-color var(--light) !important
  color #555 !important
.ck-component__bg-color--unset
  background-color $color-unset !important
  border-color $color-unset !important
  color white !important
.ck-component__bg-color--lightgrey
  background-color $color-lightgrey !important
  border-color $color-lightgrey !important

// border color
.ck-component__border-color--primary
  color var(--primary) !important
  border-color var(--primary) !important
.ck-component__border-color--primary-light
  // color rgba(var(--primary), .15) !important  FIXRGBA
  // border-color rgba(var(--primary), .15) !important  FIXRGBA
  font-weight 600 !important
.ck-component__border-color--secondary
  color var(--secondary) !important
  border-color var(--secondary) !important
.ck-component__border-color--secondary-light
  // color rgba(var(--secondary), .15) !important  FIXRGBA
  // border-color rgba(var(--secondary), .15) !important  FIXRGBA
  font-weight 600 !important
.ck-component__border-color--success
  color var(--success) !important
  border-color var(--success) !important
.ck-component__border-color--danger
  color var(--danger) !important
  border-color var(--danger) !important
.ck-component__border-color--warning
  color var(--warning) !important
  border-color var(--warning) !important
.ck-component__border-color--dark
  color var(--dark) !important
  border-color var(--dark) !important
.ck-component__border-color--light
  color var(--light) !important
  border-color var(--light) !important
.ck-component__border-color--unset
  color $color-unset !important
  border-color $color-unset !important
.ck-component__border-color--lightgrey
  color $color-lightgrey !important
  border-color $color-lightgrey !important
