@import '../../../public/cleek-styles/tiny-tailwind'
@import '../../../public/cleek-styles/cleek-mixins'

.container
  margin-x 3rem !important

$margin = .5rem
.ck-component-item
  margin $margin
.ck-component-item-group-left
  margin-y $margin
  margin-left $margin
.ck-component-item-group-center
  margin-y $margin
.ck-component-item-group-right
  margin-y $margin
  margin-right $margin